# fly.toml app configuration file
app = 'app-ceagro'
primary_region = 'gru'

[build]

[env]
  PORT = "8080"
  NODE_ENV = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    grace_period = "20s"
    interval = "15s"
    method = "GET"
    timeout = "10s"
    path = "/health"

[[vm]]
  memory_mb = 256
  cpu_kind = 'shared'
  cpus = 1